.ui-grid-table {
	font-family: "helvetica neue", "Microsoft YaHei";width: 100%;
}
.ui-grid-table-thead {
	font-size: 13px;
	color: #333;
}
.ui-grid-table-thead-tr {
	background-color: #f8f8f8;
}
.ui-grid-table-thead-tr-th {
	padding: 15px;
	position: relative;
}
.ui-grid-table-thead-tr-th:before {
    content: "";
    border: 1px #ccc solid;
    height: 14px;
    width: 0px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -1px;
    margin: auto 0;
	
}
.ui-grid-table-thead-tr-th:first-child:before {
	border: 0;
}
.ui-grid-table-tbody {
	font-size: 14px;
	color: #787878;
}
.ui-grid-table-tbody-tr {
	background-color: #fff;
	border-top: 1px;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
	border-color: #ccc;
	border-style: solid;
}
.ui-grid-table-tbody-tr:first-child {
	border-top: 1px;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
	border-color: #ccc;
	border-style: solid;
}
.ui-grid-table-tbody-tr-td {
	padding: 15px;
	text-align: center;
}
#cloneTr {
	display: none;
}