body {
	background-color: #f1f1f1;
}

.top-title {
	background: #fff;
	padding: 6px;
	margin-top: 20px;
	color: #f78b4a;
	font-size: 20px;
	text-align: center;
}

.top-title span {
	display: block;
	position: absolute;
	background: #f78b4a;
	width: 4px;
	margin: -6px 0 0 -6px;
	height: 40px;
}

p.xxx {
	display: block;
	font-size: 16px;
	margin: 20px 0 0 0px;
	color: #787878;
	/*background: #fafafa;*/
	padding: 8px 0 8px 4px;
}
.lab_text {
				font-size: 14px;
				color: #787878;
				margin: -30px 10px 0 10px;
			}
			
	
		
		
		#switch-group {
			margin: 0;
			padding: 0;
		}
		
		.switch_div1,
		.switch_div2 {
			width: 300px;
			display: block;
			margin: 0 auto;
		}
		
		.counter_div {
			width: 260px;
			height: 38px;
			display: block;
			margin: 0 auto;
		}
		.cont_btn {
			width: 100%;
			height: auto;
			background: #FFF;
			padding: 20px 0 20px 0;
		}
			
			.text_div {
				font-size: 12px;
				text-indent: 2em;
				color: #BEBEBE;
				padding: 6px 6px 20px 6px;
			}
			
			.tips_cont {
				width: 40%;
				height: auto;
				position: absolute;
				margin: -14% 0 2% 60%;
				z-index: 40;
			}
			
			.tips_cont2 {
				width: 40%;
				height: auto;
				position: absolute;
				margin: -12% 0 60% 2%;
				z-index: 45;
			}
			
			.tips_cont3 {
				margin: -10px 0 0 60px;
				z-index: 50;
			}
			
			.tips_cont4 {
				margin: -68px 0 0 50px;
				z-index: 55;
			}
			
			.test-input {
				width: 30%;
				height: auto;
				border: 1px #44ABE5 solid;
				padding: 6px 10px 6px 0;
				outline: none;
				margin: 10px 0 10px 30%;
			}
			
			::-webkit-input-placeholder {
				font-size: 14px;
				line-height: 22px;
				padding: 0 0 0 10px;
			}
			
			input:focus {
				padding-left: 10px;
			}
			.demo-content{
				background: #FFFFFF;	
				border-bottom: 1px #ccc solid;
				border-top:1px #ccc solid ;
				padding: 0 0 20px 0;
				margin: 0 0 10px 0;
			}
			
			/*以上css仅作demo排版样式*/