/* alice.base 样式模块 */

@charset "utf-8";

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
    color:#000;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin:0;padding:0;
}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { 
    display:block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio,canvas,video {
    display: inline-block;*display: inline;*zoom: 1;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea {
    font:12px/1.5 tahoma,arial,"Hiragino Sans GB","Microsoft Yahei",\5b8b\4f53;
}
input,select,textarea {
    font-size:100%;
}

/* 去掉各Table  cell 的边距并让其边重合 */
table {
    border-collapse:collapse;border-spacing:0;
}

/* IE bug fixed: th 不继承 text-align*/
th {
    text-align:inherit;
}

/* 去除默认边框 */
fieldset,img {
    border:0;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
    display:block;
}

/* 去掉 firefox 下此元素的边框 */
abbr,acronym {
    border:0;font-variant:normal;
}

/* 一致的 del 样式 */
del {
    text-decoration:line-through;
}

address,caption,cite,code,dfn,em,th,var {
    font-style:normal;
    font-weight:500;
}

/* 去掉列表前的标识, li 会继承 */
ol,ul {
    list-style:none;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,th {
    text-align:left;
}

/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:500;
}

q:before,q:after {
    content:'';
}

/* 统一上标和下标 */
sub, sup {
    font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }

/* 正常链接 未访问 */
a:link {
    color: #333;
}

/* 鼠标悬停 */
a:hover {
    color: #333;
    text-decoration: underline;
}

/* 默认不显示下划线，保持页面简洁 */
ins,a {
    text-decoration:none;
}

/* 清理浮动 */
.fn-clear:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.fn-clear {
    zoom:1; /* for IE6 IE7 */
}

/* 隐藏, 通常用来与 JS 配合 */
body .fn-hide {
    display:none;
}

/* 设置内联, 减少浮动带来的bug */
.fn-left,.fn-right {
    display:inline;
}
.fn-left {
    float:left;
}
.fn-right {
    float:right;
}

/* 单行文字溢出时出现省略号，需设定宽度 */ 
.fn-text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 简单的渐变 */
.fn-linear {
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f1f1f1));
    background: -moz-linear-gradient(top, #fcfcfc, #f1f1f1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f1f1f1');
    background:-o-linear-gradient(top, #fcfcfc, #f1f1f1);
    background: linear-gradient(top, #fcfcfc, #f1f1f1);
}

/* 浅色的渐变 */
.fn-linear-light {
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f9f9f9));
    background: -moz-linear-gradient(top, #fcfcfc, #f9f9f9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f9f9f9');
    background:-o-linear-gradient(top, #fcfcfc, #f9f9f9);
    background: linear-gradient(top, #fcfcfc, #f9f9f9);
}

/* 人民币符号 */
.fn-rmb {
    font-family: arial;
    font-style: normal;
    padding-right: 4px;
}

/* 文字两端对齐 */
.fn-text-justify{
    text-align:justify;
}

/* 重要文字 */
.fn-text-imp{
    color: #E3017F;
}

/* chrome 下字体过小的问题 */
.fn-webkit-adjust {
    -webkit-text-size-adjust: none;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-asterisk:before {
  content: "\2a";
}
.glyphicon-plus:before {
  content: "\2b";
}
.glyphicon-euro:before {
  content: "\20ac";
}
.glyphicon-minus:before {
  content: "\2212";
}
.glyphicon-cloud:before {
  content: "\2601";
}
.glyphicon-envelope:before {
  content: "\2709";
}
.glyphicon-pencil:before {
  content: "\270f";
}
.glyphicon-glass:before {
  content: "\e001";
}
.glyphicon-music:before {
  content: "\e002";
}
.glyphicon-search:before {
  content: "\e003";
}
.glyphicon-heart:before {
  content: "\e005";
}
.glyphicon-star:before {
  content: "\e006";
}
.glyphicon-star-empty:before {
  content: "\e007";
}
.glyphicon-user:before {
  content: "\e008";
}
.glyphicon-film:before {
  content: "\e009";
}
.glyphicon-th-large:before {
  content: "\e010";
}
.glyphicon-th:before {
  content: "\e011";
}
.glyphicon-th-list:before {
  content: "\e012";
}
.glyphicon-ok:before {
  content: "\e013";
}
.glyphicon-remove:before {
  content: "\e014";
}
.glyphicon-zoom-in:before {
  content: "\e015";
}
.glyphicon-zoom-out:before {
  content: "\e016";
}
.glyphicon-off:before {
  content: "\e017";
}
.glyphicon-signal:before {
  content: "\e018";
}
.glyphicon-cog:before {
  content: "\e019";
}
.glyphicon-trash:before {
  content: "\e020";
}
.glyphicon-home:before {
  content: "\e021";
}
.glyphicon-file:before {
  content: "\e022";
}
.glyphicon-time:before {
  content: "\e023";
}
.glyphicon-road:before {
  content: "\e024";
}
.glyphicon-download-alt:before {
  content: "\e025";
}
.glyphicon-download:before {
  content: "\e026";
}
.glyphicon-upload:before {
  content: "\e027";
}
.glyphicon-inbox:before {
  content: "\e028";
}
.glyphicon-play-circle:before {
  content: "\e029";
}
.glyphicon-repeat:before {
  content: "\e030";
}
.glyphicon-refresh:before {
  content: "\e031";
}
.glyphicon-list-alt:before {
  content: "\e032";
}
.glyphicon-lock:before {
  content: "\e033";
}
.glyphicon-flag:before {
  content: "\e034";
}
.glyphicon-headphones:before {
  content: "\e035";
}
.glyphicon-volume-off:before {
  content: "\e036";
}
.glyphicon-volume-down:before {
  content: "\e037";
}
.glyphicon-volume-up:before {
  content: "\e038";
}
.glyphicon-qrcode:before {
  content: "\e039";
}
.glyphicon-barcode:before {
  content: "\e040";
}
.glyphicon-tag:before {
  content: "\e041";
}
.glyphicon-tags:before {
  content: "\e042";
}
.glyphicon-book:before {
  content: "\e043";
}
.glyphicon-bookmark:before {
  content: "\e044";
}
.glyphicon-print:before {
  content: "\e045";
}
.glyphicon-camera:before {
  content: "\e046";
}
.glyphicon-font:before {
  content: "\e047";
}
.glyphicon-bold:before {
  content: "\e048";
}
.glyphicon-italic:before {
  content: "\e049";
}
.glyphicon-text-height:before {
  content: "\e050";
}
.glyphicon-text-width:before {
  content: "\e051";
}
.glyphicon-align-left:before {
  content: "\e052";
}
.glyphicon-align-center:before {
  content: "\e053";
}
.glyphicon-align-right:before {
  content: "\e054";
}
.glyphicon-align-justify:before {
  content: "\e055";
}
.glyphicon-list:before {
  content: "\e056";
}
.glyphicon-indent-left:before {
  content: "\e057";
}
.glyphicon-indent-right:before {
  content: "\e058";
}
.glyphicon-facetime-video:before {
  content: "\e059";
}
.glyphicon-picture:before {
  content: "\e060";
}
.glyphicon-map-marker:before {
  content: "\e062";
}
.glyphicon-adjust:before {
  content: "\e063";
}
.glyphicon-tint:before {
  content: "\e064";
}
.glyphicon-edit:before {
  content: "\e065";
}
.glyphicon-share:before {
  content: "\e066";
}
.glyphicon-check:before {
  content: "\e067";
}
.glyphicon-move:before {
  content: "\e068";
}
.glyphicon-step-backward:before {
  content: "\e069";
}
.glyphicon-fast-backward:before {
  content: "\e070";
}
.glyphicon-backward:before {
  content: "\e071";
}
.glyphicon-play:before {
  content: "\e072";
}
.glyphicon-pause:before {
  content: "\e073";
}
.glyphicon-stop:before {
  content: "\e074";
}
.glyphicon-forward:before {
  content: "\e075";
}
.glyphicon-fast-forward:before {
  content: "\e076";
}
.glyphicon-step-forward:before {
  content: "\e077";
}
.glyphicon-eject:before {
  content: "\e078";
}
.glyphicon-chevron-left:before {
  content: "\e079";
}
.glyphicon-chevron-right:before {
  content: "\e080";
}
.glyphicon-plus-sign:before {
  content: "\e081";
}
.glyphicon-minus-sign:before {
  content: "\e082";
}
.glyphicon-remove-sign:before {
  content: "\e083";
}
.glyphicon-ok-sign:before {
  content: "\e084";
}
.glyphicon-question-sign:before {
  content: "\e085";
}
.glyphicon-info-sign:before {
  content: "\e086";
}
.glyphicon-screenshot:before {
  content: "\e087";
}
.glyphicon-remove-circle:before {
  content: "\e088";
}
.glyphicon-ok-circle:before {
  content: "\e089";
}
.glyphicon-ban-circle:before {
  content: "\e090";
}
.glyphicon-arrow-left:before {
  content: "\e091";
}
.glyphicon-arrow-right:before {
  content: "\e092";
}
.glyphicon-arrow-up:before {
  content: "\e093";
}
.glyphicon-arrow-down:before {
  content: "\e094";
}
.glyphicon-share-alt:before {
  content: "\e095";
}
.glyphicon-resize-full:before {
  content: "\e096";
}
.glyphicon-resize-small:before {
  content: "\e097";
}
.glyphicon-exclamation-sign:before {
  content: "\e101";
}
.glyphicon-gift:before {
  content: "\e102";
}
.glyphicon-leaf:before {
  content: "\e103";
}
.glyphicon-fire:before {
  content: "\e104";
}
.glyphicon-eye-open:before {
  content: "\e105";
}
.glyphicon-eye-close:before {
  content: "\e106";
}
.glyphicon-warning-sign:before {
  content: "\e107";
}
.glyphicon-plane:before {
  content: "\e108";
}
.glyphicon-calendar:before {
  content: "\e109";
}
.glyphicon-random:before {
  content: "\e110";
}
.glyphicon-comment:before {
  content: "\e111";
}
.glyphicon-magnet:before {
  content: "\e112";
}
.glyphicon-chevron-up:before {
  content: "\e113";
}
.glyphicon-chevron-down:before {
  content: "\e114";
}
.glyphicon-retweet:before {
  content: "\e115";
}
.glyphicon-shopping-cart:before {
  content: "\e116";
}
.glyphicon-folder-close:before {
  content: "\e117";
}
.glyphicon-folder-open:before {
  content: "\e118";
}
.glyphicon-resize-vertical:before {
  content: "\e119";
}
.glyphicon-resize-horizontal:before {
  content: "\e120";
}
.glyphicon-hdd:before {
  content: "\e121";
}
.glyphicon-bullhorn:before {
  content: "\e122";
}
.glyphicon-bell:before {
  content: "\e123";
}
.glyphicon-certificate:before {
  content: "\e124";
}
.glyphicon-thumbs-up:before {
  content: "\e125";
}
.glyphicon-thumbs-down:before {
  content: "\e126";
}
.glyphicon-hand-right:before {
  content: "\e127";
}
.glyphicon-hand-left:before {
  content: "\e128";
}
.glyphicon-hand-up:before {
  content: "\e129";
}
.glyphicon-hand-down:before {
  content: "\e130";
}
.glyphicon-circle-arrow-right:before {
  content: "\e131";
}
.glyphicon-circle-arrow-left:before {
  content: "\e132";
}
.glyphicon-circle-arrow-up:before {
  content: "\e133";
}
.glyphicon-circle-arrow-down:before {
  content: "\e134";
}
.glyphicon-globe:before {
  content: "\e135";
}
.glyphicon-wrench:before {
  content: "\e136";
}
.glyphicon-tasks:before {
  content: "\e137";
}
.glyphicon-filter:before {
  content: "\e138";
}
.glyphicon-briefcase:before {
  content: "\e139";
}
.glyphicon-fullscreen:before {
  content: "\e140";
}
.glyphicon-dashboard:before {
  content: "\e141";
}
.glyphicon-paperclip:before {
  content: "\e142";
}
.glyphicon-heart-empty:before {
  content: "\e143";
}
.glyphicon-link:before {
  content: "\e144";
}
.glyphicon-phone:before {
  content: "\e145";
}
.glyphicon-pushpin:before {
  content: "\e146";
}
.glyphicon-usd:before {
  content: "\e148";
}
.glyphicon-gbp:before {
  content: "\e149";
}
.glyphicon-sort:before {
  content: "\e150";
}
.glyphicon-sort-by-alphabet:before {
  content: "\e151";
}
.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152";
}
.glyphicon-sort-by-order:before {
  content: "\e153";
}
.glyphicon-sort-by-order-alt:before {
  content: "\e154";
}
.glyphicon-sort-by-attributes:before {
  content: "\e155";
}
.glyphicon-sort-by-attributes-alt:before {
  content: "\e156";
}
.glyphicon-unchecked:before {
  content: "\e157";
}
.glyphicon-expand:before {
  content: "\e158";
}
.glyphicon-collapse-down:before {
  content: "\e159";
}
.glyphicon-collapse-up:before {
  content: "\e160";
}
.glyphicon-log-in:before {
  content: "\e161";
}
.glyphicon-flash:before {
  content: "\e162";
}
.glyphicon-log-out:before {
  content: "\e163";
}
.glyphicon-new-window:before {
  content: "\e164";
}
.glyphicon-record:before {
  content: "\e165";
}
.glyphicon-save:before {
  content: "\e166";
}
.glyphicon-open:before {
  content: "\e167";
}
.glyphicon-saved:before {
  content: "\e168";
}
.glyphicon-import:before {
  content: "\e169";
}
.glyphicon-export:before {
  content: "\e170";
}
.glyphicon-send:before {
  content: "\e171";
}
.glyphicon-floppy-disk:before {
  content: "\e172";
}
.glyphicon-floppy-saved:before {
  content: "\e173";
}
.glyphicon-floppy-remove:before {
  content: "\e174";
}
.glyphicon-floppy-save:before {
  content: "\e175";
}
.glyphicon-floppy-open:before {
  content: "\e176";
}
.glyphicon-credit-card:before {
  content: "\e177";
}
.glyphicon-transfer:before {
  content: "\e178";
}
.glyphicon-cutlery:before {
  content: "\e179";
}
.glyphicon-header:before {
  content: "\e180";
}
.glyphicon-compressed:before {
  content: "\e181";
}
.glyphicon-earphone:before {
  content: "\e182";
}
.glyphicon-phone-alt:before {
  content: "\e183";
}
.glyphicon-tower:before {
  content: "\e184";
}
.glyphicon-stats:before {
  content: "\e185";
}
.glyphicon-sd-video:before {
  content: "\e186";
}
.glyphicon-hd-video:before {
  content: "\e187";
}
.glyphicon-subtitles:before {
  content: "\e188";
}
.glyphicon-sound-stereo:before {
  content: "\e189";
}
.glyphicon-sound-dolby:before {
  content: "\e190";
}
.glyphicon-sound-5-1:before {
  content: "\e191";
}
.glyphicon-sound-6-1:before {
  content: "\e192";
}
.glyphicon-sound-7-1:before {
  content: "\e193";
}
.glyphicon-copyright-mark:before {
  content: "\e194";
}
.glyphicon-registration-mark:before {
  content: "\e195";
}
.glyphicon-cloud-download:before {
  content: "\e197";
}
.glyphicon-cloud-upload:before {
  content: "\e198";
}
.glyphicon-tree-conifer:before {
  content: "\e199";
}
.glyphicon-tree-deciduous:before {
  content: "\e200";
}



/*! define alice/grid/1.0.0/grid-debug.css */
/* alice.grid 样式模块 */

.ui-grid-1, .ui-grid-2, .ui-grid-3, .ui-grid-4, .ui-grid-5, .ui-grid-6, .ui-grid-7, .ui-grid-8, .ui-grid-9, .ui-grid-10, .ui-grid-11,.ui-grid-12, .ui-grid-13, .ui-grid-14, .ui-grid-15, .ui-grid-16, .ui-grid-17, .ui-grid-18, .ui-grid-19, .ui-grid-20, .ui-grid-21, .ui-grid-22, .ui-grid-23, .ui-grid-24, .ui-grid-25 {
    margin: 0 10px 10px 0;
    float:left;
    display:inline;
}

.ui-grid-nomar{
    margin-bottom:0;
}

.ui-grid-1 {width:30px;}
.ui-grid-2 {width:70px;}
.ui-grid-3 {width:110px;}
.ui-grid-4 {width:150px;} /* 右侧推广位的宽度 */
.ui-grid-5 {width:190px;} /* 左侧边栏的宽度 */
.ui-grid-6 {width:230px;}
.ui-grid-7 {width:270px;}
.ui-grid-8 {width:310px;}
.ui-grid-9 {width:350px;}
.ui-grid-10 {width:390px;}
.ui-grid-11 {width:430px;}
.ui-grid-12 {width:470px;}
.ui-grid-13 {width:510px;}
.ui-grid-14 {width:550px;}
.ui-grid-15 {width:590px;} /* 中央区域宽度 */
.ui-grid-16 {width:630px;}
.ui-grid-17 {width:670px;}
.ui-grid-18 {width:710px;}
.ui-grid-19 {width:750px;}
.ui-grid-20 {width:790px;}
.ui-grid-21 {width:830px;} /* 交易明细表区域的宽度 */
.ui-grid-22 {width:870px;}
.ui-grid-23 {width:910px;}
.ui-grid-24 {width:950px;}
.ui-grid-25 {width:990px;} /* 最大页面宽度 */
 
.ui-grid-row {
    margin-right: -10px;
    zoom: 1;
}
.ui-grid-row:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}


/*! define alice/button/1.0.0/button-debug.css */
.ui-button * {
    margin:0;
    padding:0;
}

.ui-button {
    display: inline-block;
    *display: inline;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    font:12px/1.5 tahoma,arial,"Hiragino Sans GB","Microsoft Yahei",\5b8b\4f53;
    font-size: 14px;
    padding: 0 20px;
    *zoom: 1;
    *overflow: visible; /* for a ie6/7 bug http://blog.csdn.net/jyy_12/article/details/6636099 */    
}

.ui-button .ui-button-text {
    background: none;
    padding: 0;
    height: auto;
    line-height: auto;
}

.ui-button:hover {
    text-decoration: none;    
}

input.ui-button-text, button.ui-button-text {
    *vertical-align: top; /* for a ie7 bug */
    font-family: Hiragino Sans GB;
}

.ui-button:active {
    position: relative;
    top: 1px;
}

.ui-button-lblue,
.ui-button-mblue,
.ui-button-sblue {
    border:none;
    color:#fff;
    background-color: #349CD3;  
}

.ui-button-lblue:hover,
.ui-button-mblue:hover,
.ui-button-sblue:hover {
    background-color: #47AAE1;
}

a.ui-button-lblue,
a.ui-button-mblue,
a.ui-button-sblue,
a.ui-button-lblue:active,
a.ui-button-mblue:active,
a.ui-button-sblue:active,
a.ui-button-lblue:hover,
a.ui-button-mblue:hover,
a.ui-button-sblue:hover {
    color:#fff;    
}

.ui-button-lblue {
    line-height:40px;
    height:40px;
    font-size: 16px;
}

.ui-button-mblue {
    line-height:30px;
    height:30px;
}

.ui-button-sblue {
    padding: 0 12px;
    line-height:23px;
    height:23px;
    font-size:12px;
}
/*! endblock alice/button/1.0.0/ui-button-blue-debug.css */


/*! block alice/button/1.0.0/ui-button-white-debug.css */
.ui-button-lwhite,
.ui-button-mwhite,
.ui-button-swhite {
    border:1px solid #C2C2C2;
    color:#595959;
    background-color: #fff;    
    padding: 0 19px;  
}

.ui-button-lwhite:hover,
.ui-button-mwhite:hover,
.ui-button-swhite:hover {
    border: 1px solid #369BD3;
    background-color: #DBEBF8;

}

a.ui-button-lwhite,
a.ui-button-mwhite,
a.ui-button-swhite,
a.ui-button-lwhite:active,
a.ui-button-mwhite:active,
a.ui-button-swhite:active,
a.ui-button-lwhite:hover,
a.ui-button-mwhite:hover,
a.ui-button-swhite:hover {
    color:#349CD3;    
}

.ui-button-lwhite {
    line-height:40px;
    height:40px;
    font-size: 16px;
}

.ui-button-mwhite {
     line-height:30px;
    height:30px;
}

.ui-button-swhite {
    line-height:21px;
    height:21px;
    padding:0 12px;
    font-size:12px;
}

/*! block alice/button/1.0.0/ui-button-disable-debug.css */
.ui-button-ldisable,
.ui-button-mdisable,
.ui-button-sdisable {
    color:#fff;    
    border: none;
    background: #D4D4D4;
    cursor: default;
    text-shadow: 0 -1px 1px #aaa;    
}

a.ui-button-ldisable,
a.ui-button-mdisable,
a.ui-button-sdisable,
a.ui-button-ldisable:active,
a.ui-button-mdisable:active,
a.ui-button-sdisable:active,
a.ui-button-ldisable:hover,
a.ui-button-mdisable:hover,
a.ui-button-sdisable:hover {
    color:#fff; 
}

.ui-button-ldisable {
    line-height:40px;
    height:40px;
    font-size: 16px;
}

.ui-button-mdisable {
    line-height:30px;
    height:30px;
}

.ui-button-sdisable {
    line-height:23px;
    height:23px;
    padding:0 12px;
    font-size:12px;
}

input.ui-button-ldisable,
input.ui-button-mdisable,
input.ui-button-sdisable {
    cursor: default;
}


/*! define alice/form/1.0.0/form-debug.css */
/* alice.form 样式模块 */

@charset "utf-8";

.ui-form {
    font-size: 12px;
    line-height: 1.5;
}

.ui-form, .ui-form * {
    list-style: none;
}

.ui-form fieldset {
    border:0;
}

.ui-form legend {
    display: none;
}

.ui-form-explain {
    margin: 0;
    padding: 5px 0 0;
    font-size: 12px;
    color: #B2B2B2;
}

.ui-form-other {
    margin-left: 4px;
}

.ui-form-text {
    display: inline-block;
    margin-top: 6px;
    *display: inline;
    *zoom: 1;
}

.ui-form-item:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}

.ui-form-item {
    padding: 0 5px 20px 170px;
    zoom: 1;
}

.ui-form-item select {
    vertical-align: middle;
    margin: 4px 0 0;
}

.ui-form-item input {
    vertical-align: middle;
}

.ui-form-item .ui-input {
    font-size: 12px;
    color: #595959;
    vertical-align: middle;
    *vertical-align: -5px;
}

.ui-form-item-error .ui-input,
.ui-form-item-error .ui-textarea {
    border: 1px #F00 solid;
    color: #F00;
}

.ui-form-item-success .ui-input,
.ui-form-item-success .ui-textarea {
    border: 1px #8ec73b solid;
    color: #539022;
}

.ui-form-item-error .ui-input-reset {
    border: 1px #9C9C9C solid;
    color: #000;
}

.ui-form-item-error .ui-form-explain {
    color: #FF5243;
}


.ui-input.ui-input-width-small{
    width:130px
}
.ui-input.ui-input-width-medium{
    width:230px
}
.ui-input.ui-input-width-large{
    width:500px
}

/*! block alice/form/1.0.0/input-debug.css */
.ui-input {
    width: 170px;
    padding: 4px 9px;
    line-height: 18px;
    border: 1px solid #ccc;
    border-top-color: #a6a6a6;
    color: #595959;
    font-size: 12px;    
}

.ui-input:focus,
.ui-textarea:focus,
.ui-input-focus {
    border: 1px #339BD2 solid;
    color: #595959;
}
.ui-textarea {
    width: 422px;
    height: 79px;
    line-height: 15px;
    border: 1px #9C9C9C solid;
    padding: 1px 3px 0 4px;
    overflow: auto;
    font-family: Arial;
    font-size: 12px;
}

.ui-input[disabled],
.ui-textarea[disabled] {
    border: 1px solid #ccc;
    background: #f2f2f2;
}

.ui-input:disabled,
.ui-textarea:disabled {
    border: 1px solid #ccc;
    background: #f2f2f2;
}

.placeholder {
    color: #ccc;
}

.ui-input-checkcode {
    width: 100px;
    height: 24px;
    line-height: 28px;
    margin: 0;
    padding: 2px 5px;
}

.ui-form-item-hover .ui-input,
.ui-form-item-hover .ui-textarea {
    border:1px #727272 solid;
}

.ui-form-item-focus .ui-input,
.ui-form-item-focus .ui-textarea {
    border: 1px #07f solid;
    outline: 1px #8cddff solid;
}

.ui-form-item-focus .ui-form-explain,
.ui-form-item-hover .ui-form-explain {
    color:#333;
}
/*! endblock alice/form/1.0.0/input-debug.css */

/*! block alice/form/1.0.0/label-debug.css */
.ui-label {
    float: left;
    width: 170px;
    margin-left: -180px;
    padding-top: 4px;
    text-align: right;
    font-size: 14px;
}

.ui-form-required {
    color: #FF0000;
    font-family: SimSun;
    font-size: 14px;
    margin-right: 6px;
}
/*! endblock alice/form/1.0.0/label-debug.css */


.ui-input-group{
    position: relative;
    display: table;
    border-collapse: separate;
}

.ui-input-group .ui-input-group-addon{
    padding: 6px 12px;
    font-size: 16px;
    font-weight: normal;
    color: #777;
    text-align: center;
    vertical-align: middle;
    background-color: #F3F3F3;
}

.ui-input-group .ui-input{
    vertical-align: middle;
    font-size: 14px;
    padding: 7px 9px;
    border: 0;
}

.ui-input-group .ui-button{
    vertical-align: middle;
    line-height: 33px;
    height: 33px;
}


.ui-dropmenu{
    display: inline;

}

.ui-dropmenu li{
    display: inline;
    float: left;
}


.ui-dropmenu .ui-dropmenu-item {
    z-index: 10002;
    position: relative;
    padding: 0 8px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    _display: inline;
    _zoom: 1;
}
.ui-dropmenu .ui-dropmenu-item .ui-badge{
    position: absolute;
    right: 1px;
    top: 2px;
}

.ui-dropmenu .ui-dropmenu-current .ui-dropmenu-item {
    padding: 0 8px;
    border-width: 0 1px;
    border-style: solid;
    border-color: #eee;
    background: #fff;
}

.ui-dropmenu .ui-dropmenu-item a {
    display: inline;
    float: left;
    margin-right: 7px;
    font-size: 14px;
    color: #6c6c6c;
    text-decoration: none;
}

.ui-dropmenu .ui-dropmenu-item i{
    display: inline;
    float: left;
    position: relative;
    margin: 20px 0;
    width: 6px;
    height: 6px;
    -webkit-transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    -o-transition: .3s ease-in;
    transition: .3s ease-in;
}

.ui-dropmenu .ui-dropmenu-current .ui-dropmenu-item i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -ms-transform: rotate(0);
}


.ui-dropmenu .ui-dropmenu-item i em, .ui-dropmenu .ui-dropmenu-item a i span {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-color: rgba(255,255,255,0);
    border-color: transparent\0;
    _border-color: tomato;
    _filter: chroma(color=tomato);
    border-style: solid;
    overflow: hidden;
    border-width: 4px 3px 0;
}


.ui-dropmenu .ui-dropmenu-current .ui-dropmenu-item i em, .ui-dropmenu .ui-dropmenu-current .ui-dropmenu-item a i span {
    _border-width: 0 4px 4px;
}

.ui-dropmenu .ui-dropmenu-item i em {
    top: 1px;
    border-top-color: #6c6c6c;
}

.ui-dropmenu .ui-dropmenu-item i span {
    border-top-color: #f5f5f5;
}


.ui-dropmenu .ui-dropmenu-content{
    z-index: 10001;
    position: relative;
    display: none;
    margin-top: -1px;
    /* display: block; */
}

.ui-dropmenu .ui-dropmenu-current .ui-dropmenu-content {
    display: block;
}

.ui-dropmenu .ui-dropmenu-content .ui-dropmenu-panel {
    position: absolute;
    top: 0;
    padding: 8px;
    line-height: normal;
    border: 1px solid #eee;
    background: #fff;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.12);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.12);
    box-shadow: 0 0 10px rgba(0,0,0,.12);
}


.ui-dropmenu .ui-dropmenu-content .ui-dropmenu-panel.pos-left{
    left: 0;
}

.ui-dropmenu .ui-dropmenu-content .ui-dropmenu-panel.pos-right{
    right: 0;
}


/*config panel width */
.ui-dropmenu .user-info .ui-dropmenu-content .ui-dropmenu-panel{
    width: 100px;
}




/*! define alice/tab/1.0.0/tab-debug.css */
/* alice.tab 样式模块 */

@charset "utf-8";

.ui-tab {
    margin: 0;
    padding: 0;
}

.ui-tab ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ui-tab li {
    list-style: none;
    vertical-align: top;
    position: relative;
    top: 1px;
}

.ui-tab-items {
    border-bottom: 1px solid #E5E5E5;
    font-size: 14px;
}

.ui-tab-item {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    *margin-right: 4px;
}

.ui-tab-item a {
    border-radius: 3px 3px 0 0;
    background: #fff;
    line-height: 32px;
    height: 32px;
    padding: 0 10px;
    border: 1px solid #E5E5E5;
    border-bottom: none;
    color: #4D4D4D;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    transition: background-color 0.4s ease-out, color 0.4s ease-out;
}

.ui-tab-item a,
.ui-tab-item a:hover,
.ui-tab-item a:active {
    color: #4D4D4D;
}

.ui-tab-item-current a {
    font-weight: bold;
    height: 33px;
}

.ui-tab-item a:hover {
    background: #f6f6f6;
    text-decoration: none;
}

.ui-tab-item-current a:hover {
    background: #fff;
}


.ui-navtab{
    width: 100%;
    font-size: 16px;
    position: relative;
}

.ui-navtab .ui-navtab-main{
    height: 40px;
    padding: 0 22px 0 0;
    margin: 0;
    border-bottom: #E9E9E9 2px solid;
}

.ui-navtab .ui-navtab-main.ui-navtab-3 .ui-navtab-item{
    width: 33.333%;
}

.ui-navtab .ui-navtab-main .ui-navtab-item{
    float: left;
    width: 25%;
    height: 40px;
    line-height: 40px;
    list-style: none;
}

.ui-navtab .ui-navtab-main .ui-navtab-item a {
    position: relative;
    display: block;
    color: #797979;
    background: #F9F9F9;
    border-bottom: #E9E9E9 2px solid;
    margin-right: 2px;
    text-align: center;
    text-decoration: none;
}
.ui-navtab .ui-navtab-main .ui-navtab-item-current a {
    color: #0089D1;
    border-bottom: #008AD3 2px solid;
}
.ui-navtab .ui-navtab-main .ui-navtab-item i{
    position: absolute;
    top: 14px;
    right: 10px;
    font-size: 12px;
    color:#D3D3D3;
}
.ui-navtab .ui-navtab-main .ui-navtab-item i:hover{
    color:#666;
}
.ui-navtab .ui-navtab-btn {
    display: block;
    width: 22px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    color: #909090;
    text-decoration: none;
}
.ui-navtab .ui-dropmenu .ui-dropmenu-item{
    padding: 0 5px;
    background: #F9F9F9;
}

.ui-navtab .ui-dropmenu .ui-dropmenu-item a{
    margin-right:0;
}

.ui-navtab .ui-dropmenu .ui-dropmenu-item a span{
    color: #919191;
    font-size: 8px;
}

.ui-navtab .ui-dropmenu .ui-dropmenu-current .ui-dropmenu-item{
    border:0;
}

.ui-navtab .ui-dropmenu .ui-dropmenu-content .ui-dropmenu-panel {
    width: 180px;
}


.ui-paging, .ui-paging input {
    color:#808080;
    margin: 0;
    padding: 0;
    zoom: 1;
    font-size: 12px;
    vertical-align: middle;
}

.ui-paging:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.ui-paging a,
.ui-paging span.ui-paging-prev,
.ui-paging span.ui-paging-next {
    text-decoration:none;
    color:#808080;
    margin:0 3px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    height:28px;
    line-height:28px;
}

.ui-paging-prev,
.ui-paging-next,
.ui-paging-goto {
    background-color: #fff;
    padding:0 8px;
    border: 1px solid #eee;
   
}

.ui-paging-prev:hover,
.ui-paging-next:hover,
.ui-paging-goto:hover {
    border-color: #349CD3;
    color: #fff;
    background: #349CD3;
}

.ui-paging-prev:hover .iconfont,
.ui-paging-next:hover .iconfont {
    color: #fff;
}

.ui-paging .ui-paging-prev {
    margin: 0 3px 0 0;
}

.ui-paging .iconfont {
    font-size: 10px;
    color: #787878;
}

.ui-paging a.ui-paging-item {
    background-color:#fff;
    border: 1px solid #eee;
    font-weight:bold;
    padding:0 8px;
}

.ui-paging a.ui-paging-current, .ui-paging a.ui-paging-item:hover {
    color:#fff;
    background:#349CD3;
}

a.ui-paging-prev:hover,
a.ui-paging-next:hover {    
    text-decoration:none;
    color:#fff;
}

.ui-paging-info {
    line-height:24px;
    margin-right:5px;
    height:24px;
}

.ui-paging-ellipsis {
    margin:0 5px;
    line-height: 16px;
    font-weight:bold;
}

.ui-paging-which input {
    height: 20px;
    line-height: 20px;
    padding: 0 6px;
    width:22px;
    border:1px solid;
    border-color:#aaa #d1d1d1 #d1d1d1 #aaa;
}

.ui-paging-which input:hover {
    border-color:#999;
    color:#666;
}

.ui-paging-bold {
    font-weight:bold;
    padding:0 8px;
}

.ui-paging span.ui-paging-prev,
.ui-paging span.ui-paging-next,
.ui-paging span.ui-paging-prev .iconfont,
.ui-paging span.ui-paging-next .iconfont {    
    color:#fff;
    box-shadow:none;
    background: #d4d4d4;
    border-color: #d4d4d4;
    filter: none;
}

.ui-progress {
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    height:18px;
    margin: 3px 0;
    background:#f7f7f7;
    overflow:hidden;
    line-height:20px;
    box-shadow:inset 0 0 0 1px rgba(0,0,0,.07),inset 0 2px 2px rgba(0,0,0,.07);
}
.ui-progress-bar {
    width:0;
    height:100%;
    background:#6CBFF1;
    float:left;
    font-size:12px;
    color:#fff;
    text-align:center;
    -webkit-transition:width .6s ease;
    transition:width .6s ease;
   
    animation:incomemove 1s infinite;
    -webkit-animation:incomemove 1s infinite; /*Safari and Chrome*/
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1; /* Safari 和 Chrome */
}
@keyframes incomemove{
    from {width:0%;}
}

@-webkit-keyframes incomemove{  /*Safari and Chrome*/
    from {width:0%;}
}
.ui-progress-success .ui-progress-bar {
    background-color:#82bb42;
}
.ui-progress-warning .ui-progress-bar {
    background-color:#f9a124;
}
.ui-progress-danger .ui-progress-bar {
    background-color:#d32c46;
  
}
.ui-progress-striped .ui-progress-bar {
    background-size:30px 30px
}
.ui-progress-striped.ui-active .ui-progress-bar {
    -webkit-animation:ui-progress-bar-stripes 2s linear infinite;
    animation:ui-progress-bar-stripes 2s linear infinite
}
@-webkit-keyframes ui-progress-bar-stripes {
    0% {
    background-position:0 0
}
100% {
    background-position:30px 0
}
}@keyframes ui-progress-bar-stripes {
    0% {
    background-position:0 0
}
100% {
    background-position:30px 0
}
}


.ui-badge {
    display:inline-block;
    padding:1px 2px;
    background:#009dd8;
    font-size:10px;
    line-height:14px;
    color:#fff;
    text-align:center;
    vertical-align:middle;
    text-transform:none;
    border-radius:8px;
}

.ui-badge-pop{
    width: 4px;
    height: 4px;
    font-size:0;
    line-height:0;
    padding: 0;
    border: 2px solid #fff;
    border-radius: 4px;
    box-shadow: 0px 0px 2px 1px rgba(100,100,100,0.5);
    overflow: hidden;
}
.ui-badge-notification {
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    min-width:18px;
    border-radius:500px;
    font-size:12px;
    line-height:18px
}
.ui-badge-success {
    background-color:#82bb42;
}
.ui-badge-warning {
    background-color:#f9a124;
}
.ui-badge-danger {
    background-color:#d32c46;
}


/*! define alice/list/1.0.0/list-debug.css */
/* alice.list 样式模块 */

.ui-list {
    margin: 0;
    padding: 10px;
    list-style: square inside;
}
/* 默认有方角 */
.ui-list-item {
    font-size: 9px;
    line-height: 20px;
    color: #08c;
}
.ui-list-item a {
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
    vertical-align: middle;
}

.ui-list-item a:hover {
    text-decoration: underline;    
}

/* 灰色小方角 */
.ui-list-gray .ui-list-item {
    color: #808080;
}

/* 灰色小方角＋灰色链接 */
.ui-list-graylink .ui-list-item {
    color: #808080;    
}

.ui-list-graylink .ui-list-item a {
    color: #666;
}

/* 没有小图标的 */
.ui-list-nosquare {
    list-style: none;    
}

/* ui-dlist */

.ui-dlist {
    display: inline-block;
    color: #808080;
    font-size: 12px;
    line-height: 2.2;
}

.ui-dlist-tit {
    float: left;
    width: 30%;/* 默认值, 具体根据视觉可改 */
    text-align: right;
    margin: 0;
}

.ui-dlist-det {
    float: left;
    width: 70%;/* 默认值，具体根据视觉可改 */
    text-align: left;
    margin: 0;
}


.ui-tiptext {
    margin: 0;
    color: #4D4D4D;
    position:relative;
    font-size: 14px;
    zoom:1;
}
.ui-tiptext-container {
    padding: 8px 12px;
    position:relative;
    zoom:1;
}
.ui-tiptext .iconfont {
    font-size: 1.33em;
    line-height: 1em;
    text-shadow: 0 1px 0 #fff;
    position: relative;
    top: 2px;
}
.ui-tiptext-icon {
    display:inline-block;
    font-size: 16px;
    *display:inline;
    *zoom:1;
}
.ui-tiptext-message .ui-tiptext-icon {
    color: #0483CF;
}
.ui-tiptext-container-message {
    background: #e5f5ff;
    border: 1px solid #c9d5e2;
}
.ui-tiptext-success .ui-tiptext-icon {
    color: #20DC19;    
}
.ui-tiptext-container-success {
    background: #E7FFCE;
    border: 1px solid #B9E2A0;
}
.ui-tiptext-error .ui-tiptext-icon {
    color: #FF4800;    
}
.ui-tiptext-container-error {
    background: #fceee8;
    border: 1px solid #f6c8b5;
}
.ui-tiptext-warning .ui-tiptext-icon {
    color: #FFA700;    
}
.ui-tiptext-container-warning {
    background: #ffff8d;
    border: 1px solid #e7c560;
}
.ui-tiptext-question .ui-tiptext-icon {
    color: #00B5F3;    
}
.ui-tiptext-container-question {
    background: #e5f5ff;
    border: 1px solid #c9d5e2;
}
.ui-tiptext-stop .ui-tiptext-icon {
    color: #FF5500;
}
.ui-tiptext-container-stop {
    background: #fceee8;
    border: 1px solid #f6c8b5;
}
.ui-tiptext-wait .ui-tiptext-icon {
    color: #B26100;
}
.ui-tiptext-container-wait{
    background: #FFF9D9;
    border: 1px solid #E6CBB1;
}

/* arrow */
.ui-tiptext-arrowup, .ui-tiptext-arrowup em, .ui-tiptext-arrowup span,
.ui-tiptext-arrowleft, .ui-tiptext-arrowleft em, .ui-tiptext-arrowleft span,
.ui-tiptext-arrowdown, .ui-tiptext-arrowdown em, .ui-tiptext-arrowdown span {
    position: absolute;
    font-size: 14px;  
    font-family: "SimSun";
    font-style: normal;
    line-height: 1;
}

.ui-tiptext-arrowup, .ui-tiptext-arrowleft, .ui-tiptext-arrowdown {
    height: 10px;
    width: 16px;
}

.ui-tiptext-arrowup {
    left: 32px;
    top:-7px;
}
.ui-tiptext-arrowup em {
    top: -1px;
}

.ui-tiptext-arrowleft {
    left: -6px;
    top:10px;
}
.ui-tiptext-arrowleft em {
    left:-1px;
}

.ui-tiptext-arrowdown {
    left: 32px;
    bottom: -3px;
}

.ui-tiptext-arrowdown em {
    top: 1px;
}

/* arrow color*/
.ui-tiptext-container-message .ui-tiptext-arrow em {
    color:#c9d5e2;
}
.ui-tiptext-container-message .ui-tiptext-arrow span {
    color:#e5f5ff;
}
.ui-tiptext-container-success .ui-tiptext-arrow em {
    color:#B9E2A0;
}
.ui-tiptext-container-success .ui-tiptext-arrow span {
    color:#E7FFCE;
}
.ui-tiptext-container-error .ui-tiptext-arrow em {
    color:#f6c8b5;
}
.ui-tiptext-container-error .ui-tiptext-arrow span {
    color:#fceee8;
}
.ui-tiptext-container-warning .ui-tiptext-arrow em {
    color:#e7c560;
}
.ui-tiptext-container-warning .ui-tiptext-arrow span {
    color:#ffff8d;
}
.ui-tiptext-container-question .ui-tiptext-arrow em {
    color:#c9d5e2;
}
.ui-tiptext-container-question .ui-tiptext-arrow span {
    color:#e5f5ff;
}
.ui-tiptext-container-stop .ui-tiptext-arrow em {
    color:#f6c8b5;
}
.ui-tiptext-container-stop .ui-tiptext-arrow span {
    color:#fceee8;
}
.ui-tiptext-container-wait .ui-tiptext-arrow em {
    color:#E6CBB1;
}
.ui-tiptext-container-wait .ui-tiptext-arrow span {
    color:#FFF9D9;
}


.ui-table {
    border-collapse:collapse;
    width:100%;
    font-size: 12px;
    text-align: left;    
}
.ui-table tr:nth-child(even),
.ui-table-split /* 隔行换色效果 */,
.ui-table-hover /* 用作表格行hover效果 */ {    
    background-color:#FBFBFB;
}
.ui-table tr {
    color:#808080;
}
.ui-table thead tr {
    color: #666;
}
.ui-table thead {
    border-bottom: #349CD3 2px solid;    
}
.ui-table th {
    color:#349CD3;
    font-size: 14px;
    font-weight: bold;
    padding:7px 9px;
    border-bottom: #349CD3 2px solid;    
    text-align: left;    
}
.ui-table td {
    padding:8px 9px 7px;
    border-bottom:1px solid #F3F3F3;
}
.ui-table th {
    padding:7px 9px;
}
.ui-table tfoot td {
    border-bottom:none;
}
.ui-table .ui-table-action {
    background-color:#FFFFEF;
}
.ui-table .ui-table-selected {
    background-color:#FEFFC5;
}

/* 无边框table加上ui-table-noborder */
.ui-table-noborder, .ui-table-noborder td, .ui-table-noborder tr, .ui-table-noborder th {
    border:none;
    outline:none;
}
.ui-table-noborder .ui-table-split, .ui-table-noborder .ui-table-hover {
    background-color:#f7f7f7;
}
/* 当table放在一个有边框的容器中时，比如ui-box，需要添加类名ui-table-inbox去掉本身的外框 */
.ui-table-inbox {
    border:none;
    outline:none;
}


.ui-box {
    zoom: 1;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.ui-box: after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.ui-box-follow /*--使用在box和上面的box相连的情况下 --*/ {
    border-top: none;
}

.ui-box-head {
    height: 14px;
    line-height: 16px;
    overflow: hidden;
    padding: 10px;
}

.ui-box-head .ui-box-head-title {
    color: #4d4d4d;
    font-size: 14px;
    font-weight: bold;
    float: left;
    display: inline;
    margin: 0;
    padding: 0;
}

.ui-box-head .ui-box-head-more {
    float: right;
    color: #666;
}

.ui-box-head .ui-box-head-text {
    margin-left: 10px;
    color: #808080;
    float: left;
}

.ui-box-container {
    background: #fff;
}

.ui-box-content /* 可选，用于默认有内边距的box */ {
    padding: 10px;
}


.ui-option{
    padding: 5px 0 5px;
    border-bottom: 1px solid #C2C2C2;
}

.ui-option input {
    display: none;
}

.ui-option input:checked+label{
    border: 1px solid #6CBFF1;
    background: #DBEBF8;
}
.ui-option input[disabled]+label {
    color:#cfcfcf;
    border-color:#cfcfcf
}
.ui-option label{
    display: inline-block;
    min-width: 75px;
    padding: 0 12px ;
    margin-bottom: 10px;
    height: 30px;
    border: 1px solid #999;
    background-color: #fff;
    line-height: 30px;
    font-size: 14px;
    color: #339DD1;
    text-align: center;
    cursor: pointer;
}



