@charset "utf-8";
/* demo-tplVeris */
.product_list ul{ width:976px; float:left; }
.product_list ul li{ width:324px; float:left;}
.product_list ul li .info{width:212px; margin:0 56px; display:inline-block; text-align:center;overflow:hidden; }
.product_list ul li .title{ line-height:25px; height:50px; color:#4183c4; font-size:16px;}
.product_list .price{ margin:0 5px; border-top:1px dashed #ededed;}
.product_list .price .buy_btn{ float:right; margin-top:10px; margin-right:5px;}
.product_shop_list{ width:977px; margin:0 auto;}
.product_shop_list ul li{width:243px;}
.product_shop_list ul li .info{margin:0 15px;}
.ul_pro-line{border:1px solid #ededed;margin-top:-1px; overflow:hidden;margin-right:-1px; padding:24px 0;}
.price_num{float:left;font-size:24px;color:#00a1e0;font-weight:bold; line-height:24px; margin-top:12px; margin-left:5px;}
.price_num .ico{ font-size:14px;}
.price_num em,.price_num p{ font-size:12px; line-height:16px; color:#6b6b6b; font-weight:normal;}
.buy_btn{background: url(./images/verisImg/l_button.png) no-repeat 0 0; height:30px !important; padding-left:10px;padding-left:12px\9; margin-top:10px; *position:static;}
.buy_btn span{background: url(./images/verisImg/l_button.png) no-repeat right 0; line-height:30px; height:30px; color:#fff; padding:0 13px 0 1px; font-weight:bold; min-width:35px;font-size:14px; color:#fff;*position:static;}
.buy_btn:hover,
.buy_btn:focus,
.buy_btn:active,
.buy_btn:visited{ background: url(./images/verisImg/l_button.png) no-repeat 0 bottom;}
.buy_btn:hover span,
.buy_btn:focus span,
.buy_btn:active span,
.buy_btn:visited span{background: url(./images/verisImg/l_button.png) no-repeat right bottom; color:#fff; }
@media \0screen {	
	button.buy_btn:active {background: url(./images/verisImg/l_button.png) no-repeat 0 0; padding:0 1px 0 12px;}
	button.buy_btn:active span { background: url(./images/verisImg/l_button.png) no-repeat right 0; margin-right:-1px;}
}