
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-btnaddroundfill:before { content: "\e60c"; }
.icon-btnaddround:before { content: "\e60d"; }
.icon-btnadd:before { content: "\e60e"; }
.icon-btnreduce:before { content: "\e60f"; }
.icon-choosehook:before { content: "\e610"; }
.icon-choosenext:before { content: "\e611"; }
.icon-guidebook:before { content: "\e612"; }
.icon-guideding:before { content: "\e613"; }
.icon-guidedrawer:before { content: "\e614"; }
.icon-guideearth:before { content: "\e615"; }
.icon-guidemap:before { content: "\e616"; }
.icon-guidemessage:before { content: "\e617"; }
.icon-guidenext:before { content: "\e618"; }
.icon-tipswarnfill:before { content: "\e619"; }
.icon-guideorder:before { content: "\e61a"; }
.icon-guidepage:before { content: "\e61b"; }
.icon-guidepie:before { content: "\e61c"; }
.icon-guidesetup:before { content: "\e61d"; }
.icon-inputcleartext:before { content: "\e61e"; }
.icon-inputmobile:before { content: "\e61f"; }
.icon-inputpassword:before { content: "\e620"; }
.icon-inputsearch:before { content: "\e621"; }
.icon-loadingclose:before { content: "\e622"; }
.icon-more:before { content: "\e623"; }
.icon-pagingpulldown:before { content: "\e624"; }
.icon-tabcomment:before { content: "\e625"; }
.icon-tabcontactperson:before { content: "\e626"; }
.icon-tabhome:before { content: "\e627"; }
.icon-tabpapers:before { content: "\e628"; }
.icon-tabledividingline:before { content: "\e629"; }
.icon-tablehightolow:before { content: "\e62a"; }
.icon-tablelowtohigh:before { content: "\e62b"; }
.icon-tipsclose:before { content: "\e62c"; }
.icon-tipscommentone:before { content: "\e62d"; }
.icon-tipscomment:before { content: "\e62e"; }
.icon-tipserrorfill:before { content: "\e62f"; }
.icon-tipserror:before { content: "\e630"; }
.icon-tipsinfofill:before { content: "\e631"; }
.icon-tipsinfo:before { content: "\e632"; }
.icon-tipsmail:before { content: "\e633"; }
.icon-tipsquestionfill:before { content: "\e634"; }
.icon-tipsquestion:before { content: "\e635"; }
.icon-tipssuccessfill:before { content: "\e636"; }
.icon-tipssuccess:before { content: "\e637"; }
.icon-tipswarn:before { content: "\e638"; }
