	/*按钮样式*/
	
	.ui-block-btn {
		display: block;
		margin: 0 auto;
		width: 690px;
		height: 84px;
		font-size: 36px;
		color: #fff;
		background-color: #44abe5;
		border-radius: 10px;
		cursor: pointer;
		line-height: 84px;
		text-align: center;
	}
	.ui-block-btn:active {
		color: #bde2f;
		background-color: #268BC4;
		-webkit-tap-highlight-color: (255, 255, 255, 0);
		-webkit-tap-highlight-color: transparent;
	}
	/*不可按按钮样式*/
	
	.ui-disabled-block-btn {
		line-height: 84px;
		text-align: center;
		display: block;
		margin: 0 auto;
		width: 690px;
		height: 84px;
		border-radius: 10px;
		background-color: #ccc;
		border: 0px #ccc solid;
		font-size: 36px;
		color: #787878;
	}
	/*移动开关样式*/
	
	input[type=checkbox] {
		display: none
	}
	.ui-swicth-checkbox + label {
		background-color: #fff;
		border: 2px #D3D3D3 solid;
		border-radius: 100px;
		display: inline-block;
		position: relative;
		-webkit-transition: all 0.1s ease-in;
		transition: all 0.1s ease-in;
		width: 120px;
		height: 62px;
	}
	.ui-swicth-checkbox + label:after {
		content: ' ';
		position: absolute;
		top: 0;
		-webkit-transition: box-shadow 0.1s ease-in;
		transition: box-shadow 0.1s ease-in;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 100px;
		box-shadow: inset 0 0 0 0 #eee, 0 0 1px rgba(0, 0, 0, 0.4);
	}
	.ui-swicth-checkbox + label:before {
		/*小球样式*/
		
		content: ' ';
		position: absolute;
		background: white;
		top: 1px;
		left: 0px;
		z-index: 999999;
		width: 58px;
		-webkit-transition: all 0.05s ease-in;
		-moz-transition: all 0.05s ease-in;
		-ms-transition: all 0.05s ease-in;
		transition: all 0.05s ease-in;
		height: 58px;
		border-radius: 100px;
		border: 1px #f9f9f9 solid;
		-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3), 0 0px 1px rgba(0, 0, 0, 0.3);
	}
	.ui-swicth-checkbox:active + label:after {
		/*渐变效果*/
		
		-webkit-box-shadow: inset 0 0 0 20px #eee, 0 0 1px #eee;
	}
	
	.ui-swicth-checkbox + label:active {
		/*背景渐变效果,边缘变化效果*/
		-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
	}
	.ui-swicth-checkbox:checked + label:before {
		/*打开后小球效果*/
		
		content: ' ';
		position: absolute;
		left: 60px;
		border-radius: 100px;
	}
	.ui-swicth-checkbox:checked + label:after {
		/*打开后背景效果*/
		
		content: ' ';
		position: absolute;
		background: #89C14A;
		box-shadow: 0 0 1px #89C14A;
		margin-top: -2px;
		margin-left: -2px;
		border: 2px #89C14A solid;
	}
	/*数据操作按钮样式*/
	
	.ui-btn-group span {
		width: 66px;
		height: 62px;
		display: block;
		float: left;
		background-color: #fff;
		line-height: 48px;
		text-align: center;
		font-size: 48px;
		border: 2px solid #d3d3d3;
		cursor: pointer;
	}
	.ui-btn-group span:active {
		outline: none;
		background-color: #f2f2f2;
	}
	.ui-btn-group input {
		-webkit-appearance: none;
		width: 90px;
		height: 62px;
		border-radius: 0;
		text-align: center;
		font-size: 30px;
		font-family: helvetica;
		color: #333333;
		display: block;
		float: left;
		resize: none;
		outline: none;
		border: 2px solid #d3d3d3;
		border-left: none;
		border-right: none;
		background-color: #ffffff;
	}
	.ui-btn-group input:focus {
		outline: none;
	}
	.ui-btn-group span,
	.ui-btn-group input {
		-webkit-tap-highlight-color: (255, 255, 255, 0);
		-webkit-tap-highlight-color: transparent;
	}
	