.aim_top_tab_group_outer{
				position: fixed;
				z-index: 98;
				height: 84px;
				overflow: hidden;	
				padding: 0;
				margin: 0;
				top: 0;
				left: 0;
			}
			.aim_top_tab_group{
				text-align: left;
				font:28px "Microsoft Yahei";
				color: #333;
				width:1200px;
				overflow-x:scroll;
				white-space:nowrap;/* 不换行 */ 
			}
			.aim_top_tab_group .tab_inner{
				display: inline-block;
				line-height: 84px;
				margin:0 30px;
				width: auto;
				position:relative; 
				text-align: center;
			}
			.aim_top_tab_group .tab_inner.current{
				font:32px "Microsoft Yahei";
				color: #40a4dc;
				border-bottom: 6px solid #40a4dc;
				line-height: 78px;
			}
			.aim_top_tab_group .tab_inner.fixed{
				margin:0 0 0 0;
				width: 25%;
			}
			.aim_top_tab_group .tab_inner .tab_content{
				display: inline-block;
			}
			

.aim_left_tab_group_outer{
				position: fixed;
				z-index: 98;
				top: 0px;
				left: 0px;
				bottom: 0px;
				padding: 0;
				margin: 0;
				width: 142px;
				overflow: hidden;
				height: 100%;
			}
			.aim_left_tab_group{
				overflow-y: auto;
				overflow-x: hidden;
				width: 160px;
				height: 100%;
			}
			.aim_left_tab_group .tab_inner{
				border-bottom: 2px solid #d9d9d9;
				border-right: 1px solid #d9d9d9;
				width: 160px;
				font:26px "Microsoft Yahei";
				color: #333;
				height: 88px;
				line-height: 88px;
				text-align: center;
				background-color: #f2f2f2;
			}
			.aim_left_tab_group .tab_inner.current{
				border-right-style: none;
				font:26px "Microsoft Yahei";
				color: #40a4dc;
				height: 88px;
				line-height: 88px;
				border-left: 6px solid #40a4dc;
				background-color: #fff;
				width: 160px;
			}
			.aim_left_tab_group .tab_inner .tab_content{
				overflow: hidden;
				height: 88px;
				line-height: 88px;
				text-align: center;
				position: relative;
				left: -12px;
			}
			

			
.aim_bottom_tab_group_outer{
				position: fixed;
				z-index: 98;
				bottom: 0px;
				left: 0px;
				padding: 0;
				margin: 0;
				width: 100%;
				height: 98px;
				border-top: 2px #d9d9d9 solid;
				background-color: #fff;
			}
			.aim_bottom_tab_group{
				overflow: hidden;
				height: 100%;
			}
			.aim_bottom_tab_group .tab_inner{
				display: inline-block;
				font:24px "Microsoft Yahei";
				color: #787878;
				height: 98px;
				line-height: 98px;
				text-align: center;
				/*width: 24%;*/
			}
			.aim_bottom_tab_group .tab_inner.current{
				color: #40a4dc;
			}
			.aim_bottom_tab_group .tab_inner .tab_content{
				width: 100%;
			}
			.aim_bottom_tab_group .tab_inner .tab_content.icon{
				/*background: url(img/tab_bottom_1.png) no-repeat;*/
				background-size: 32px 32px;
				background-position: 50% 15px;
				padding-top: 20px;
			}