.combobox-item,
.combobox-group {
	font-size: 12px;
	padding: 4px 4px 4px 10px;
	padding-right: 0px;
}
.combobox-item{
	line-height: 22px;
}
.combobox-item-disabled {
	opacity: 0.5;
	filter: alpha(opacity=50);
	_color: #ccc;
}
.combobox-gitem {
	padding-left: 10px;
}
.combobox-group {
	font-weight: bold;
}
.combobox-item-hover{
	background-color: #f1f1f1;
  	color: #000000;
}
.combobox-item-selected {
	background-color: #dbecf9;
	color: #000000;
}
.textbox.combo {
	position: relative;
	border: 1px solid #ccc;
	background-color: #fff;
	vertical-align: middle;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	margin: 0;
	padding: 0;
}
.textbox.combo.textbox-focused,
.textbox.combo:hover {
	border-color: #44ABE5;
}
.textbox.combo .textbox-text {
	font-size: 12px;
	border: 0;
	margin: 0;
	padding: 4px 4px 4px 10px;
	white-space: normal;
	vertical-align: top;
	outline-style: none;
	resize: none;
}
.textbox.combo .textbox-prompt {
	border: 0;
}
.textbox.combo .textbox-text:hover {
	border: 0;
}
.textbox.combo .textbox-text:focus {
	border: 0;
}
.textbox.combo .textbox-text:disabled {
	border: 0;
}
.ui-unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.combo-panel.panel-body{
	max-height: 265px;
}
/*.panel.combo-p{
	border: 1px #ccc solid;
}*/
.combo .textbox-text{
	_margin-top: -1px !important;
	_height: 16px;
}
/*修改选择禁用状态*/
.textbox.textbox-disabled{
	background-color: #E1E6EB;
	cursor: default;
}
.textbox.textbox-disabled:hover{
	border-color: #ccc;
}
.textbox.textbox-disabled input,
.textbox.textbox-disabled span a{
	cursor: default;
}
.textbox-icon.combo-arrow{
	margin-right: 6px;
}
